.headerContainer {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: white;
}

.centerAllItems {
  display: flex;
  padding: 1vh 1vw;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.logo {
  height: 4vh;
}

.loginButton {
  color: #26bdeb;
  border: solid 1px #26bdeb;
  padding: 8px 15px;
  border-radius: 5px;
  text-align: center;
  margin: 0 1vw;
}

.navBar {
  display: flex;
  color: black;
  align-items: center;
}

.navBar > a {
  padding: 1vh 1vw;
  text-decoration: none;
  font-size: 1.7vh;
}

a:link {
  color: black;
}

a:hover {
  color: #26bdeb;
}

a:visited {
  color: black;
}

a:active {
  color: #26bdeb;
}

.themeToggle {
  margin: 0 1vw;
}
