.container {
  margin: 0 0 2vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tile {
  position: relative;
}

.details {
  z-index: 2;
  position: absolute;
  background: rgba(255, 255, 255, .5);
  /* bottom: 10; */
  /* right: 10; */

}

.image {
  /* position: relative; */
  height: 100%;
  width: 100%;
}
